@keyframes letter-spacing {
  0% {
    letter-spacing: normal;
  }

  50% {
    letter-spacing: 2px;

  }

  100% {
    letter-spacing: normal;
  }
}


nav.sidebar {
  display: flex;
  flex-direction: column;

  position: fixed;

  align-items: center;

  max-width: 24rem;
  width: 100%;

  padding: 2rem;


  background: var(--background2);

  >span {
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 600;
    color: var(--yellow);
    animation: letter-spacing infinite ease-in-out 5s;

    p {
      display: inline;
      color: var(--white);
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: column;


    width: 100%;
  }
}